In [37]:
import pandas as pd
import numpy as np
df= pd.read_excel('vendas.xlsx')

In [38]:
#1.Padronizar a coluna categoria para minúsculas.

df['categoria'] = df['categoria'].str.lower()
df

,data,loja,categoria,produto,quantidade,valor_venda,valor_unitario,valor_venda_recalculada,valor_unitario_medio
0,2024-07-20,Vento Norte,eletrodomesticos,Aquecedor,5.000000,405.550000,81.110000,405.550000,NaN
1,2024-05-30,Vento Norte,sazonal,Guarda-chuva,6.000000,2866.200000,477.700000,2866.200000,NaN
2,2024-01-25,Vento Norte,roupas,Calça,8.000000,3292.720000,411.590000,3292.720000,NaN
3,2024-07-10,Chuva Clara,roupas,Casaco,5.000000,1294.950000,258.990000,1294.950000,NaN
4,2024-05-29,Porto Sol,infantil,Blusa Infantil,274.675929,274.675929,274.675929,75446.865737,NaN
...,...,...,...,...,...,...,...,...,...
495,2024-08-23,Porto Sol,eletrodomesticos,Ventilador,4.000000,1545.720000,386.430000,1545.720000,NaN
496,2024-12-19,Vento Norte,eletrodomesticos,Ventilador,1.000000,230.890000,230.890000,230.890000,NaN
497,2024-05-12,Vila Neve,infantil,Blusa Infantil,6.000000,441.300000,73.550000,441.300000,NaN
498,2024-03-08,Vila Neve,eletrodomesticos,Ar-condicionado,1.000000,293.930000,293.930000,293.930000,NaN
499,2024-07-25,Vento Norte,sazonal,Guarda-chuva,3.000000,1479.810000,493.270000,1479.810000,NaN

In [39]:
#2.Remover registros onde a quantidade está ausente
df.dropna(subset=['quantidade'])
df

,data,loja,categoria,produto,quantidade,valor_venda,valor_unitario,valor_venda_recalculada,valor_unitario_medio
0,2024-07-20,Vento Norte,eletrodomesticos,Aquecedor,5.000000,405.550000,81.110000,405.550000,NaN
1,2024-05-30,Vento Norte,sazonal,Guarda-chuva,6.000000,2866.200000,477.700000,2866.200000,NaN
2,2024-01-25,Vento Norte,roupas,Calça,8.000000,3292.720000,411.590000,3292.720000,NaN
3,2024-07-10,Chuva Clara,roupas,Casaco,5.000000,1294.950000,258.990000,1294.950000,NaN
4,2024-05-29,Porto Sol,infantil,Blusa Infantil,274.675929,274.675929,274.675929,75446.865737,NaN
...,...,...,...,...,...,...,...,...,...
495,2024-08-23,Porto Sol,eletrodomesticos,Ventilador,4.000000,1545.720000,386.430000,1545.720000,NaN
496,2024-12-19,Vento Norte,eletrodomesticos,Ventilador,1.000000,230.890000,230.890000,230.890000,NaN
497,2024-05-12,Vila Neve,infantil,Blusa Infantil,6.000000,441.300000,73.550000,441.300000,NaN
498,2024-03-08,Vila Neve,eletrodomesticos,Ar-condicionado,1.000000,293.930000,293.930000,293.930000,NaN
499,2024-07-25,Vento Norte,sazonal,Guarda-chuva,3.000000,1479.810000,493.270000,1479.810000,NaN

In [49]:
#3. Remover espaços extras e padronizar com primeira letra maiúscula (estilo título)

df['categoria']= df['categoria'].str.title()
df['loja']= df['loja'].str.title()

df

,data,loja,categoria,produto,quantidade,valor_venda,valor_unitario,valor_venda_recalculada,valor_unitario_medio,valor_recalque
0,2024-07-20,Vento Norte,Eletrodomesticos,Aquecedor,5.000000,1139.796565,81.110000,405.550000,NaN,227.959313
1,2024-05-30,Vento Norte,Sazonal,Guarda-chuva,6.000000,1596.199103,477.700000,2866.200000,NaN,266.033184
2,2024-01-25,Vento Norte,Roupas,Calça,8.000000,2146.796020,411.590000,3292.720000,NaN,268.349502
3,2024-07-10,Chuva Clara,Roupas,Casaco,5.000000,1399.625878,258.990000,1294.950000,NaN,279.925176
4,2024-05-29,Porto Sol,Infantil,Blusa Infantil,274.675929,79007.824366,274.675929,75446.865737,NaN,287.640147
...,...,...,...,...,...,...,...,...,...,...
495,2024-08-23,Porto Sol,Eletrodomesticos,Ventilador,4.000000,1145.152223,386.430000,1545.720000,NaN,286.288056
496,2024-12-19,Vento Norte,Eletrodomesticos,Ventilador,1.000000,286.288056,230.890000,230.890000,NaN,286.288056
497,2024-05-12,Vila Neve,Infantil,Blusa Infantil,6.000000,1725.840880,73.550000,441.300000,NaN,287.640147
498,2024-03-08,Vila Neve,Eletrodomesticos,Ar-condicionado,1.000000,284.424781,293.930000,293.930000,NaN,284.424781
499,2024-07-25,Vento Norte,Sazonal,Guarda-chuva,3.000000,798.099552,493.270000,1479.810000,NaN,266.033184

In [41]:
#4. Garantir que a coluna data seja datetime

df['data']=pd.to_datetime(df['data'])
df

,data,loja,categoria,produto,quantidade,valor_venda,valor_unitario,valor_venda_recalculada,valor_unitario_medio
0,2024-07-20,Vento Norte,Eletrodomesticos,Aquecedor,5.000000,405.550000,81.110000,405.550000,NaN
1,2024-05-30,Vento Norte,Sazonal,Guarda-chuva,6.000000,2866.200000,477.700000,2866.200000,NaN
2,2024-01-25,Vento Norte,Roupas,Calça,8.000000,3292.720000,411.590000,3292.720000,NaN
3,2024-07-10,Chuva Clara,Roupas,Casaco,5.000000,1294.950000,258.990000,1294.950000,NaN
4,2024-05-29,Porto Sol,Infantil,Blusa Infantil,274.675929,274.675929,274.675929,75446.865737,NaN
...,...,...,...,...,...,...,...,...,...
495,2024-08-23,Porto Sol,Eletrodomesticos,Ventilador,4.000000,1545.720000,386.430000,1545.720000,NaN
496,2024-12-19,Vento Norte,Eletrodomesticos,Ventilador,1.000000,230.890000,230.890000,230.890000,NaN
497,2024-05-12,Vila Neve,Infantil,Blusa Infantil,6.000000,441.300000,73.550000,441.300000,NaN
498,2024-03-08,Vila Neve,Eletrodomesticos,Ar-condicionado,1.000000,293.930000,293.930000,293.930000,NaN
499,2024-07-25,Vento Norte,Sazonal,Guarda-chuva,3.000000,1479.810000,493.270000,1479.810000,NaN

In [42]:
#5. Calcular valor unitário real das vendas válidas

#df['valor_unitario'] = df['valor_venda'] / df['quantidade']
df

,data,loja,categoria,produto,quantidade,valor_venda,valor_unitario,valor_venda_recalculada,valor_unitario_medio
0,2024-07-20,Vento Norte,Eletrodomesticos,Aquecedor,5.000000,405.550000,81.110000,405.550000,NaN
1,2024-05-30,Vento Norte,Sazonal,Guarda-chuva,6.000000,2866.200000,477.700000,2866.200000,NaN
2,2024-01-25,Vento Norte,Roupas,Calça,8.000000,3292.720000,411.590000,3292.720000,NaN
3,2024-07-10,Chuva Clara,Roupas,Casaco,5.000000,1294.950000,258.990000,1294.950000,NaN
4,2024-05-29,Porto Sol,Infantil,Blusa Infantil,274.675929,274.675929,274.675929,75446.865737,NaN
...,...,...,...,...,...,...,...,...,...
495,2024-08-23,Porto Sol,Eletrodomesticos,Ventilador,4.000000,1545.720000,386.430000,1545.720000,NaN
496,2024-12-19,Vento Norte,Eletrodomesticos,Ventilador,1.000000,230.890000,230.890000,230.890000,NaN
497,2024-05-12,Vila Neve,Infantil,Blusa Infantil,6.000000,441.300000,73.550000,441.300000,NaN
498,2024-03-08,Vila Neve,Eletrodomesticos,Ar-condicionado,1.000000,293.930000,293.930000,293.930000,NaN
499,2024-07-25,Vento Norte,Sazonal,Guarda-chuva,3.000000,1479.810000,493.270000,1479.810000,NaN

In [43]:
#6. Calcular valor médio unitário por produto (sem considerar nulos)

media_uni =df.groupby('produto')['valor_unitario'].mean()
media_uni

produto
274.675929         260.988124
Aquecedor          227.959313
Ar-condicionado    284.424781
Blusa Infantil     287.640147
Calça              268.349502
Camiseta           257.282057
Casaco             279.925176
Guarda-chuva       266.033184
Lancheira          272.125351
Manta térmica      264.659842
Mochila            301.758238
Protetor Solar     293.877161
Ventilador         286.288056
Vestido            296.632874
Name: valor_unitario, dtype: float64

In [44]:
#7. Agrupar e calcular média
df_agrupado= df.groupby('valor_venda')['valor_unitario'].mean()
df

,data,loja,categoria,produto,quantidade,valor_venda,valor_unitario,valor_venda_recalculada,valor_unitario_medio
0,2024-07-20,Vento Norte,Eletrodomesticos,Aquecedor,5.000000,405.550000,81.110000,405.550000,NaN
1,2024-05-30,Vento Norte,Sazonal,Guarda-chuva,6.000000,2866.200000,477.700000,2866.200000,NaN
2,2024-01-25,Vento Norte,Roupas,Calça,8.000000,3292.720000,411.590000,3292.720000,NaN
3,2024-07-10,Chuva Clara,Roupas,Casaco,5.000000,1294.950000,258.990000,1294.950000,NaN
4,2024-05-29,Porto Sol,Infantil,Blusa Infantil,274.675929,274.675929,274.675929,75446.865737,NaN
...,...,...,...,...,...,...,...,...,...
495,2024-08-23,Porto Sol,Eletrodomesticos,Ventilador,4.000000,1545.720000,386.430000,1545.720000,NaN
496,2024-12-19,Vento Norte,Eletrodomesticos,Ventilador,1.000000,230.890000,230.890000,230.890000,NaN
497,2024-05-12,Vila Neve,Infantil,Blusa Infantil,6.000000,441.300000,73.550000,441.300000,NaN
498,2024-03-08,Vila Neve,Eletrodomesticos,Ar-condicionado,1.000000,293.930000,293.930000,293.930000,NaN
499,2024-07-25,Vento Norte,Sazonal,Guarda-chuva,3.000000,1479.810000,493.270000,1479.810000,NaN

In [45]:
#8. Preencher valor_unitario ausente

df['valor_unitario'].fillna(df['valor_unitario'].mean(),inplace=True)
df

C:\Users\48664841870\AppData\Local\Temp\ipykernel_12696\1510367528.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['valor_unitario'].fillna(df['valor_unitario'].mean(),inplace=True)

,data,loja,categoria,produto,quantidade,valor_venda,valor_unitario,valor_venda_recalculada,valor_unitario_medio
0,2024-07-20,Vento Norte,Eletrodomesticos,Aquecedor,5.000000,405.550000,81.110000,405.550000,NaN
1,2024-05-30,Vento Norte,Sazonal,Guarda-chuva,6.000000,2866.200000,477.700000,2866.200000,NaN
2,2024-01-25,Vento Norte,Roupas,Calça,8.000000,3292.720000,411.590000,3292.720000,NaN
3,2024-07-10,Chuva Clara,Roupas,Casaco,5.000000,1294.950000,258.990000,1294.950000,NaN
4,2024-05-29,Porto Sol,Infantil,Blusa Infantil,274.675929,274.675929,274.675929,75446.865737,NaN
...,...,...,...,...,...,...,...,...,...
495,2024-08-23,Porto Sol,Eletrodomesticos,Ventilador,4.000000,1545.720000,386.430000,1545.720000,NaN
496,2024-12-19,Vento Norte,Eletrodomesticos,Ventilador,1.000000,230.890000,230.890000,230.890000,NaN
497,2024-05-12,Vila Neve,Infantil,Blusa Infantil,6.000000,441.300000,73.550000,441.300000,NaN
498,2024-03-08,Vila Neve,Eletrodomesticos,Ar-condicionado,1.000000,293.930000,293.930000,293.930000,NaN
499,2024-07-25,Vento Norte,Sazonal,Guarda-chuva,3.000000,1479.810000,493.270000,1479.810000,NaN

In [46]:
#9. Recalcular valor_venda
df["valor_recalque"] = df["valor_unitario"].groupby(df["produto"]).transform("mean")
df["valor_venda"] = df["quantidade"] * df["valor_recalque"]
df["valor_venda"]

0       1139.796565
1       1596.199103
2       2146.796020
3       1399.625878
4      79007.824366
           ...
495     1145.152223
496      286.288056
497     1725.840880
498      284.424781
499      798.099552
Name: valor_venda, Length: 500, dtype: float64

In [48]:
#10. Salvar o novo DataFrame limpo em um novo arquivo Excel

df.to_excel('vendanew.xlsx',index=False)
df

,data,loja,categoria,produto,quantidade,valor_venda,valor_unitario,valor_venda_recalculada,valor_unitario_medio,valor_recalque
0,2024-07-20,Vento Norte,Eletrodomesticos,Aquecedor,5.000000,1139.796565,81.110000,405.550000,NaN,227.959313
1,2024-05-30,Vento Norte,Sazonal,Guarda-chuva,6.000000,1596.199103,477.700000,2866.200000,NaN,266.033184
2,2024-01-25,Vento Norte,Roupas,Calça,8.000000,2146.796020,411.590000,3292.720000,NaN,268.349502
3,2024-07-10,Chuva Clara,Roupas,Casaco,5.000000,1399.625878,258.990000,1294.950000,NaN,279.925176
4,2024-05-29,Porto Sol,Infantil,Blusa Infantil,274.675929,79007.824366,274.675929,75446.865737,NaN,287.640147
...,...,...,...,...,...,...,...,...,...,...
495,2024-08-23,Porto Sol,Eletrodomesticos,Ventilador,4.000000,1145.152223,386.430000,1545.720000,NaN,286.288056
496,2024-12-19,Vento Norte,Eletrodomesticos,Ventilador,1.000000,286.288056,230.890000,230.890000,NaN,286.288056
497,2024-05-12,Vila Neve,Infantil,Blusa Infantil,6.000000,1725.840880,73.550000,441.300000,NaN,287.640147
498,2024-03-08,Vila Neve,Eletrodomesticos,Ar-condicionado,1.000000,284.424781,293.930000,293.930000,NaN,284.424781
499,2024-07-25,Vento Norte,Sazonal,Guarda-chuva,3.000000,798.099552,493.270000,1479.810000,NaN,266.033184

In [ ]:
df = pd.read_excel('vendasnovas.xlsx')
df.head()
df

In [ ]:
#1. Total de vendas por loja - Agrupar por loja e somar o valor total vendido

df.groupby('loja')['venda_recalque'].sum()
df

In [ ]:
#2. Evolução mensal de vendas -  Identificar sazonalidades e picos mensais.
import matplotlib.pyplot as plt

df['mes_ano']=df['data'].dt.to_period('M')
vendas_mensais = df.groupby('mes_ano')['valor_venda'].sum()
vendas_mensais

plt.figure(figsize=(10, 6))
vendas_mensais.plot(kind='line', marker='o')
plt.title('Evolução Mensal de Vendas')
plt.xlabel('Mês/Ano')
plt.ylabel('Total de Vendas')
plt.grid(True)
plt.xticks(rotation=45)
plt.show()


media_anual = vendas_mensais.mean()


meses_acima_media = vendas_mensais[vendas_mensais > media_anual]
meses_abaixo_media = vendas_mensais[vendas_mensais < media_anual]

print(f'Meses com vendas acima da média:\n{meses_acima_media}')
print(f'Meses com vendas abaixo da média:\n{meses_abaixo_media}')

pico_maximo = vendas_mensais.idxmax()
pico_minimo = vendas_mensais.idxmin()

print(f'Mês com maior pico de vendas: {pico_maximo} com {vendas_mensais[pico_maximo]} vendas')
print(f'Mês com menor pico de vendas: {pico_minimo} com {vendas_mensais[pico_minimo]} vendas')

In [ ]:
#3. Agrupar por mês e somar vendas

vendas_mensais = df.groupby('mes_ano')['valor_venda'].sum()
vendas_mensais

In [ ]:
#4. Produtos mais vendidos (por volume) Objetivo: saber o que mais sai no caixa.
df['quantidade_vendida'] = df['valor_venda'] / df['valor_unitario']
produtos_mais_vendidos = df.groupby('produto')['quantidade'].sum().reset_index()
produtos_mais_vendidos = produtos_mais_vendidos.sort_values(by='quantidade', ascending=False)
produtos_mais_vendidos

In [ ]:
#5. Comparação entre categorias. Objetivo: analisar quais categorias são mais lucrativas.
lucro_por_categoria = df.groupby('categoria')['valor_venda'].sum().reset_index()
lucro_por_categoria = lucro_por_categoria.sort_values(by='valor_venda', ascending=False)
lucro_por_categoria

In [ ]:
#6. Comparação entre lojas por categoria. Objetivo: avaliar se há especialização ou foco diferente entre as lojas, com base nas categorias que mais vendem. Agrupar por loja e categoria e calcular o lucro total
resultado = df.groupby(['loja', 'categoria'])['valor_venda'].sum().reset_index()

resultado_pivot = resultado.pivot(index='loja', columns='categoria', values='valor_venda').fillna(0)


print("Lucro por loja e categoria:")
resultado

In [ ]:
#7. Plotar como gráfico de barras empilhadas
import pandas as pd
import matplotlib.pyplot as plt



resultado_pivot.plot(kind='bar', stacked=True, figsize=(10, 6))


plt.title('Vendas por Loja e Categoria')
plt.xlabel('Lojas')
plt.ylabel('Valor de Vendas')
plt.legend(title='Categoria')
plt.xticks(rotation=45)
plt.tight_layout()  


plt.show()

In [ ]:
df.drop(columns=['valor_venda_recalculada','valor_unitario_medio'], inplace=True)
df.drop(columns=['valor_recalque'], inplace=True)
df.drop(columns=['Valortotal'], inplace=True)